.toolbar {
    height: 50px;
    width: 100%;
    background-color: lightseagreen;
    position: fixed;
    left: 0px;
    bottom: 0px;
    font-size: medium;
}

.inline {
    display: inline;
    margin: 10px;
    cursor: pointer;
}